html {
  font-size: 10px;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: 2rem repeat(9, auto) 2rem;
  grid-template-rows: 1fr 2fr auto 4fr;
}
header {
  grid-column: 2 / 11;
  grid-row: 1;
  border: 1px solid pink;
}
main {
  grid-column: 2 / 7;
  grid-row: 2;
  border: 1px solid goldenrod;
}
aside {
  grid-column: 7 / 11;
  grid-row: 2;
  border: 1px solid blue;

}
footer {
  grid-column: 2 / 11;
  grid-row: 3;
}

ul {
  list-style: none;
}
.wrapper {
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
}
header .logo {
  width: 200px;
  margin-left: 2rem;
  border: 1px solid blue;
}
.contact-connect {
  display: flex;
  justify-content: space-between;
}
.nav-main {
  border: 1px solid red;
  vertical-align: center;
  display: flex;
  flex-wrap: wrap;
}
.menu {
  width: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li {
  margin: 0 2rem;
}
.social {
  display: flex;
  justify-content: flex-end;
}
.social li {
  margin: 0 1rem;

}

footer .logo {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid green;
}
footer hr {
  border: 1px solid grey;
}
footer {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

footer > * {
  border-right: 1px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.column img {
  width: 100%;
}
.column img:hover {
  transform: scale(1.5);
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
}

/* Create 3 equal columns that sits next to each other */
.column {
  flex-basis: 32%;
  padding: 0 2px;
}